.mainWhiteContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* DATE CONTROLS */
.dateControls {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.dateGroup {
  display: flex;
  flex-direction: column;
}

.dateGroup label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.loading {
  font-size: 1rem;
  color: var(--coalLight);
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.noData {
  margin-top: 1rem;
  color: var(--coalLight);
}

/* CHART LAYOUT */
.chartColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;   /* spacing between each graph */
}


.section h3 {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
}
