.mainContainer { 
    width:  200px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.AppconixLogo {
    margin-top: 8%;
    max-width: 90%;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto; /* optional: still allows interaction like clicking */
}

.menuItems {
    padding-left: 0;
    list-style-type: none;
    width: 100%;
    font-size: 1.6rem;
    font-family: "FontAwesome";
    color: var(--greyDark);
}

.menuItem {
    font-size: 1.2rem;
    padding-left: 1rem;
    font-family: "FontAwesome";
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: background 0.2s linear;
    color: var(--coalLight);
}

.menuItem:hover {
    background: var(--coal);
    color: white;
}

.menuItemSelected {
    color: var(--greyLight);
    font-family: "FontAwesome";
    /* font-weight: bold; */
    background: var(--coal);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.44);
    display: flex;
    align-items: center;
    position: relative;
    height: 3rem;
    justify-content: flex-start;
    font-size: 1.2rem;
    padding-left: 1.5rem;
}

@media only screen and (max-width: 1000px) {
    .mainContainer { 
        width: 9%;
        height: 100%;
    }

    .menuItems {
        margin-top: 2rem;
    }
    .menuItem {
        justify-content: center;
        font-size: 0;
        padding-left: 0;
    }
    .navIcon {
        font-size: 2.2rem;
        margin-left: 0.6rem;
    }

    .selectedTrapeziumSelected {
        width: 0.3rem;
    }

    .triangle {
        right: 0.3rem;
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-right: 0.7rem solid white;
    }

    .bbbNavFooter {
        font-size: 0.8rem;
    }

    .logoutContainer {
        font-size: 0rem;
        padding-bottom: 5rem;
    }
}