body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root { /*color variables*/
  font-size: 80%;
  --coalDark: #0D0D0D;
  --coal: #323232;
  --coalLight: #575757;
  --coalVeryLight: #7a7a7a;

  --greyDark: #989898;
  --grey: #c1c1c1;
  --greyLight: #dedede;
  --greyVeryLight: #ececec;

  --errorDark: #B33D23;
  --error: #F06F53;
  --errorLight: #F27D63;
  --errorVeryLight: #F27D63;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "RobotoCondensedBold" !important;
  background-color: #323232;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #323232;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #323232;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: /*local('FontAwesome'), */url(./assets/fonts/fontAwesome5ProRegular400.otf) format('opentype');
}